.a {
  text-decoration: none;
  color: var(--black);
}
.root {
  display: grid;
  grid-template-columns: 32px auto;
  height: 40px;
  background-color: var(--white);
  border-radius: 5px;
  width: 150px;
  padding: 5px 10px;
  grid-column-gap: 10px;
  box-shadow: var(--elevation-two);
  margin: auto;
  transition: ease 0.3s;
}
.root:hover {
  cursor: pointer;
  box-shadow: var(--elevation-three);
}
