.a {
  text-decoration: none;
  color: var(--black);
}
.root {
  display: grid;
  grid-template-columns: 32px auto;
  height: 40px;
  background-color: var(--white);
  border-radius: 5px;
  width: 150px;
  padding: 5px 10px;
  grid-column-gap: 10px;
  margin: auto;
  opacity: 0.6;
}
/* .root:hover {
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */
