.root {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-shade);
}
.title {
  font-weight: bold;
  color: var(--dark-shade);
  font-size: 48px;
  margin-bottom: 0;
}
.sub {
  opacity: 0.7;
}
