.root {
	background-color: var(--light-shade);
	min-height: 100vh;
	padding-top: 64px;
}
.titleContainer {
	text-align: center;
}
.title {
	margin-top: 50px;
}

.contentContainer {
	padding: 0px 20px 100px;
	max-width: 960px;
	margin: auto;
}
.question {
	opacity: 0.7;
	margin: 10px 0;
}
.answer {
}
